<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ACCOUNT_URL" value="https://your_account_name.exavault.com/api/v2"/>
    <add key="EV_KEY" value="your_key_here"/>
    <add key="EV_TOKEN" value="your_access_token"/>
  </appSettings>

</configuration>
